.componentArea {
  width: calc(100vw - 5rem);
  margin: 60px 0 30px 0;
  max-width: 1296px; /* 임시 - 반응형 수정 필요 */
  margin-left: auto;
  margin-right: auto;
}

/* 타이틀 요소 */
.contentsTitle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #262626;
  padding: 0 0.5rem;
  padding-bottom: 1.5rem;
}
.contentsTitle h2 {
  color: black;
}
.contentsTitle button {
  padding: 10px 30px;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background-color: #262626;
  color: #ffffff;
  cursor: pointer;
}

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 흐림 효과를 가진 배경 색 */
  z-index: 950; /* 모달보다 낮은 z-index로 설정 */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999; /* 모달이 다른 컴포넌트 위에 나타나도록 설정 */
  /* 추가적인 모달 스타일을 여기에 추가하세요 */
}

.modalBg.active {
  display: block;
}

.modalContents {
  display: block;
  padding: 20px 0;
}

.modalContents h2 {
  color: black;
  margin: 10px 0 10px 5px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeBtn button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: rgb(50, 50, 50);
}

.container {
  display: block;
}

.banner {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}
.banner p {
  color: black;
  font-size: 1rem;
}
.banner img {
  margin: 0px 15px 0px 5px;
  border-radius: 50px;
  width: 55px;
  height: 55px;
}

.textareaContainer {
  display: block;
  text-align: center;
  padding: 20px 0;
  position: relative; /* 부모로부터의 상대적 위치 지정 */
}

.textareaContainer p {
  text-align: right;
  margin: 0;
  color: rgb(70, 70, 70);
  font-size: 0.7rem;
}

.textareaContainer textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(70, 70, 70); /* 파란색 테두리 추가 */
  border-radius: 5px;
  box-sizing: border-box; /* 내부 패딩과 테두리 포함된 크기로 설정 */
  margin-top: 10px; /* p와의 간격 조절 */
  display: inline-block; /* p와 같은 라인에 위치하도록 설정 */
}

.buttonSet {
  display: grid;
  grid-gap: 0.75rem;
  gap: 0.75rem;
  grid-template: auto/repeat(2, 1fr);
}

.buttonSet button {
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* 테두리 없애기 */
  border-radius: 5px; /* border-radius 설정 */
  cursor: pointer;
  font-size: 0.9rem;
}

.buttonSet button:nth-child(1) {
  border: 1px solid #979797; /* '작성 취소' 버튼의 배경색 설정 */
  background-color: white;
  color: rgb(0, 0, 0); /* 텍스트 색상 설정 */
}

.buttonSet button:nth-child(2) {
  background-color: #00ce7a; /* '리뷰 제출' 버튼의 배경색 설정 */
  color: rgb(25, 25, 25); /* 텍스트 색상 설정 */
}

.reviewContainer {
  margin: 0rem 0;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  margin-top: auto;
  width: 100%;
  padding-bottom: 0rem;
  border-bottom: 1px solid #262626;
  max-width: 1440px;
}

.scoreOverview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid #cccccc;
}

.userScore {
}

.scoreOverlay {
  border-radius: 50%;
  width: 80px; /* 너비 설정 */
  height: 80px; /* 높이 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(51, 51, 51);
  border: 5px solid #d8d8d8;
}

.userScore h3 {
  color: black;
  margin: 15px 0;
}

.userScore p {
  color: black;
  font-size: 1rem;
  margin: 15px 0;
}

.reviewOverview {
  display: block;
  margin-top: 50px;
  padding: 0 1rem;
}

.reviewGraph {
  display: flex;
  border-radius: 5px;
  border: 5px solid #d8d8d8;
}

.progressBar {
  height: 20px;
}

.reviewSum {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  font-size: 1rem;
  line-height: 1.25rem;
}
.reviewSum p {
  color: black;
  font-weight: 500;
}
.reviewSum p:first-child {
  border-right: 1px solid #cccccc;
}
.reviewSum p:nth-child(2) {
  border-right: 1px solid #cccccc;
}

.functionBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBtn {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.filterBtn button {
  color: black;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  margin-left: 8px;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  position: relative;
  flex-shrink: 0;
}

.filterBtn button.active {
  border-top: 2px solid rgb(0, 0, 0);
  font-weight: bolder;
}

.sortBtn {
  position: relative;
  padding: 0 7px;
}

.customSelect {
  position: relative;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 10px 8px 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 80px; /* Adjust the width as needed */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center; /* Adjust the position of the arrow icon */
}

.pageContainer {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #262626;
}

/* 리뷰 목록 전체 컨테이너 */
.reviewList {
  display: block;
  width: 100%;
  max-width: 1440px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.reviewList h1,
.reviewList p {
  color: black;
}

/* 각 리뷰 항목 스타일 */
.reviewList ul {
  list-style: none;
  padding: 0;
  margin: 2.5rem 0 1.5rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100%, 1fr)
  ); /* 초기에는 한 줄에 한 개씩 */
}

.reviewList li {
  background-color: #ececec; /* 배경색 */
  border-radius: 8px; /* border-radius 설정 */
  padding: 16px; /* 내부 여백 */
}

/* 각 리뷰 내용 스타일 */
.reviewList p {
  margin: 0;
  font-size: 16px; /* 폰트 크기 */
}

.userInfoContainer {
  display: flex;
  align-items: center;
}

.userInfoContainer p {
  margin-left: auto;
  color: rgb(51, 51, 51);
}

.userInfoContainer h2 {
  color: rgb(51, 51, 51);
  margin-left: 1rem;
  font-size: 25px;
}

.scoreOverlay2 {
  border-radius: 10px;
  width: 60px; /* 너비 설정 */
  height: 60px; /* 높이 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(51, 51, 51);
}

.reviewBody {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid #979797;
}

.reviewBody p {
  font-size: 1rem;
}

.deletButton {
  display: flex;
}

.deletButton button {
  margin-left: auto;
  background-color: #ff6874;
  color: #262626;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.deletButton button:hover {
  background-color: #c95561;
}

.deletButton button:active {
  background-color: rgb(255, 153, 173);
  color: #fff; /* Optional: Adjust the text color on click */
}

.page {
  text-align: center;
}

@media (min-width: 1440px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .componentArea {
    margin: 60px 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .componentArea {
    margin: 60px 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0.5rem;
    width: auto;
  }

  .overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin: 15px 0 0 0;
    width: 100%;
    border-bottom: 1px solid #262626;
    max-width: 1440px;
  }

  .scoreOverview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #cccccc;
  }

  .userScore {
    text-align: center;
  }
  .scoreOverlay {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    border: 3.5px solid #d8d8d8;
  }
  .reviewOverview {
    display: block;
    margin-top: 0px;
    padding: 10px 0.7rem 0 0.5rem;
  }
  .progressBar {
    height: 15px;
  }
  .reviewSum {
    justify-content: space-evenly;
    font-size: 0.75em;
    line-height: 1rem;
  }

  /*유저 리뷰 스타일*/
  .userInfoContainer h2 {
    font-size: 20px;
  }

  .scoreOverlay2 {
    width: 50px;
    height: 50px;
    font-size: 1.9em;
    font-weight: 800;
  }
}

@media (max-width: 424px) {
  .contentsTitle h2 {
    font-size: 1.25rem;
  }
  .contentsTitle button {
    padding: 5px 15px;
  }

  .componentArea {
    margin: 60px 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
  }

  /* 버튼 부분 */
  .filterBtn button {
    padding: 10px 10px;
    margin-left: 5px;
    font-size: 0.8rem;
  }

  .sortBtn {
    padding: 0 4px;
  }

  select {
    font-size: 0.8rem;
    padding: 5px;
  }

  /* 유저 리뷰 부분 */
  .reviewList p {
    font-size: 13px;
  }

  .userInfoContainer h2 {
    margin-left: 0.5rem;
    font-size: 20px;
  }

  .scoreOverlay2 {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }

  .reviewBody {
    padding: 0.8rem 0;
  }

  .reviewBody p {
    font-size: 0.9rem;
  }

  .deletButton {
    display: flex;
  }

  .deletButton button {
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.7rem;
  }
  .reviewList li {
    border-radius: 0px;
    padding: 10px;
  }

  /* modal */

  .modal {
    position: absolute;
    top: 80px;
    left: 0%;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    z-index: 999;
  }

  .modalContents h2 {
    text-align: center;
    margin: 2rem 0;
  }
  
  .banner {
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
  }
  .banner p {
    color: black;
    font-size: 0.75rem;
  }
  .banner img {
    margin: 0px 15px 0px 5px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .textareaContainer textarea {
    width: 95%;
    padding: 10px;
    height: 100%;
  }
  .textareaContainer p {
    text-align: right;
    margin: 2%;
    color: rgb(70, 70, 70);
    font-size: 0.7rem;
  }
  .buttonSet button {
    margin: 10px 10px 0 10px;
    height: 2.5rem;
    border-radius: 5px; /* border-radius 설정 */
    cursor: pointer;
    font-size: 0.8rem;
  }
}

/* 유저 리뷰 반응형 */
@media (min-width: 767px) {
  .reviewList ul {
    grid-template-columns: repeat(
      auto-fill,
      minmax(48%, 1fr)
    ); /* 767px 이상일 때는 한 줄에 두 개씩 */
  }
}

@media screen and (orientation: landscape) {
  .modal {
    position: absolute;
    top: 80px;
    left: 0%;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    z-index: 999;
    overflow: scroll;
  }

  .modalContents h2 {
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .banner {
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
  }
  .banner p {
    color: black;
    font-size: 0.75rem;
  }
  .banner img {
    margin: 0px 15px 0px 5px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .textareaContainer textarea {
    width: 95%;
    padding: 10px;
    height: 100%;
  }
  .textareaContainer p {
    text-align: right;
    margin: 2%;
    color: rgb(70, 70, 70);
    font-size: 0.7rem;
  }

  .buttonSet {
    margin-bottom: 70px;
  }
  .buttonSet button {
    margin: 10px 10px 0 10px;
    height: 2.5rem;
    border-radius: 5px; /* border-radius 설정 */
    cursor: pointer;
    font-size: 0.8rem;
  }
}