
.pageContainer{
    width: 100%; height: auto; background-color:  rgb(255, 255, 255);
}


.navCover {
    height: 200px;
    background-color: #00ce7a;
}

.headContents {
    box-sizing: border-box;
    position: relative;
    top: -110px;
}

.grid {
    display: grid;
}

.fullContainer {
    display: block;
}

.gridContainer{
    width: calc(100vw - 5rem);
    min-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.gridContainerWide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gridContainerWide p {
    color: rgb(60, 60, 60);
    font-weight: 800;
    margin-right: 20px;
}

/* 첫 왼쪽 그리드와 오른쪽 그리드를 합친 곳  (동영상, 설명, 기타등등) */
.gameContainer {
    /* c-productHero_player-scoreInfo */
    height: auto;
    grid-gap: 0;
    gap: 0;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* g-grid-container */
    min-width: 288px;
    margin-left: auto;
    margin-right:auto;
}
.gameContainer p, .gameContainer h1, .gameContainer h2, .gameContainer h3 { color: black;}

/* 좌측 */
.leftContainer {
    grid-column: 1; /* 왼쪽에 위치하도록 설정 */
}

/* TODO: 비디오 크기 조절 추후 변경 */
.videoArea {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 비율의 비디오 크기를 위한 값 */
}

.videoArea iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: 1;
}

.scoreboard {
    display: flex;
    margin-top: 1.5rem;
    padding: 0 0.5rem;
    color: #666666;
    padding-bottom: 1.5rem;
    border-bottom:1px solid #262626;
}

.scoreboard p {
    margin: 0;
    margin-left: 3px;
    font-weight: 400;
    color: #555555;
}

.scoreboardText {
    margin: auto 0;
}

.samerow {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-left: -1px;
}

.scoreBox {
    background-color: #00ce7a; border-radius: 5px;
    width: 75px; height: 75px;
    font-size: 2rem; font-weight: 800; color: rgb(51, 51, 51);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
}


/* 우측 */
.rightContainer {
    grid-column: 2; /* 오른쪽에 위치하도록 설정 */
    
    background-color: white;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.rightContainer img {
    width: 100%;
    height: auto;
    border-radius: 6px; /* 이미지에 둥근 테두리 적용 */
    margin: 0 auto;
}
.textContents {
    padding: 0 1rem;
}

.textContents h1 {
    font-size: 2.5rem;
}

.withLink {
    display: block;
    margin-top: 1rem;
}

.withLink h1 { margin-bottom: 7px; margin-top: 7px; }

.withLink img { width: 60px; height: auto; }

.marginLeft {
    margin-left: 2px;
}
/* 스타일링을 위한 클래스 추가 */
.platform {
    display: flex;
}

.platform > *, .platform p {
    margin-right: 10px;
}

.platform h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.platformContainer {
    display: flex;
}

.platformItem {
    border-radius: 5px; /* 둥근 사각형을 위한 border-radius 값 조절 */
    font-weight: 280; /* 폰트 굵기를 설정 */
    font-size: 15px;
    width: 50px; height: 20px;
    text-align: center;
}


/* 각 플랫폼에 따른 배경색 설정 */
.platformItem.PC {
    background-color: #87CEEB;
}

.platformItem.PS {
    background-color: #A3D197;
}

.platformItem.Switch {
    background-color: #FFB6C1;
}

.release {
    display: flex;
}

.release h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}


.description {
    border-top:1px solid #262626;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    align-self: center;
}

.linkButton {
    border: 1px solid #a8a8a8;
    background-color: white;
    color:#535353;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* hover 효과를 부드럽게 만들기 위한 transition 추가 */
    font-size: 14px; font-weight: 500;
    margin: 25px 0;
}

.linkButton:hover {
    border: 1px solid #535353;
    color:#a8a8a8;
    cursor: pointer;
}

.linkButton p {
    color: inherit; /* a 태그의 기본 텍스트 색상 상속 */
    margin: 0;
    user-select: none;
}

.linkButton:active {
    background-color: #eeeeee; /* 클릭 시 배경색 변경 */
}

.midContents {
    box-sizing: border-box;
    position: relative;
    top: -110px;
}
.tailContents {
    box-sizing: border-box;
    position: relative;
    top: -110px;
}

@media (min-width: 1440px) {
    .gameContainer{
        grid-template-columns: 1fr 443px;
        width: 1296px;
        max-width: 1440px;
    }
    .gridContainerWide {
        width: 1296px;
        max-width: 1440px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .gameContainer{
        grid-template-columns: 1fr 443px;
    }
}

@media (max-width: 767px) {
    .gameContainer{
        grid-template-columns: 1fr 443px;
    }
}