.container {
    background-color: rgb(193, 138, 193);
    width: calc(100vw - 5rem);
    margin: 60px 0 30px 0;
    max-width: 1296px; /* 임시 - 반응형 수정 필요 */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #262626;
}

/* styles.module.css */
.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel ul {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel ul li {
    list-style: none;
    display: block;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .active {
    border: 2px solid #007BFF; /* 선택된 슬라이드 강조 스타일 */
  }
  