.vid {
    width: 100%; height: auto;
    overflow: hidden;
    margin-top: 80px;
    pointer-events: none;
}

.separator {
    width: 30%; /* 구분선의 가로 길이를 30%로 설정 */
    margin: 20px auto;
    margin-top: 70px;
    background: linear-gradient(to right, #000000, #ffffff, #000000);
    height: 1px;
}