.container {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container > * {
    display: block; text-align: center;
}

.container p { margin-top: 10; color: #FDBB3D; }

.textContainer{ margin-bottom: 50px; }

.imgContainer {
    position: relative;
    display: inline-block;
}

/* 숫자 99가 쓰인 둥근 사각형을 만들기 위한 스타일 */
.scoreOverlay {
    position: absolute; bottom: -10px; right: -10px;
    background-color: #66CC33; border-radius: 5px; padding: 15px;
    font-size: 35px; font-weight: 600; color: white;
}

/* 소개글 용 애니메이션 css */
.show {
    opacity: 1; transform: translateX(0px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.hide { opacity: 0; }
.translateRTL { transform: translateX(80px); }
.translateLTR { transform: translateX(-80px); }