.rating-slider {
    margin-top: 20px;
  }
  
  .slider-container {
    display: flex;
  }
  
  .slider-cell {
    flex: 1;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .slider-cell.selected {
    color: white;
  }
  
  .slider-cell.grey {
    background-color: grey;
  }
  
  /* 각 범위에 따른 색상 설정 */
  .slider-cell.red {
    background-color: red;
  }
  
  .slider-cell.orange {
    background-color: orange;
  }
  
  .slider-cell.green {
    background-color: green;
  }
  